body{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr 0.6fr;
}
.transbox{
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -20;
    top: 0;
    left: 0;
}
.header{
    display: grid;
    background-color: black;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
}
.header p{
    order: 1;
    margin-top: 5px;
    margin-bottom: 30px;
    font-weight: lighter;
}
.header h1{
    order: 0;
    margin-bottom: 5px;
    font-size: 2.3em;
    font-weight: bold;
}
.qrcode{
    align-self: center;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}
.date{
    grid-row-start: 3;
    align-self: end;
    text-align: center;
    border: 1px solid black;
}
.admit{
    grid-row-start: 3;
    align-self: end;
    text-align: center;
    border: 1px solid black;
}
.price{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    text-align: center;
    border: 1px solid black;
}
span{
    font-weight: lighter;
}
.tagline{
    display: none;
}

@media (min-width:900px){
    body{
    height: 300px;
    width: 900px;
    font-family: sans-serif;
    background-size: 900px 300px;
    margin: auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 2fr 0.6fr 0.4fr ;
    }
    .header{
        display: grid;
        border: 1px solid black;
        background-color: transparent;
        color: black;
        text-align: center;
        letter-spacing: 6px;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
    }
    .header p{
        order: 0;
    margin-top: 0;
    margin: 0;
    align-self: end;
    font-weight: lighter;
    font-size: 0.6em;
    }
    .header h1{
        order: 1;
        margin-bottom: 0;
        margin-top: 5px;
        font-size: 3.8em;
        align-self: center;
        font-weight: bold;
        letter-spacing: 15px;
    }
    .qrcode{
        align-self: center;
        justify-self: center;
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .qrcode img{
        height: 190px;
    }
    .date{
        grid-row-start: 2;
        align-self: end;
        text-align: center;
        border: 1px solid black;
    }
    .admit{
        grid-row-start: 2;
        align-self: end;
        text-align: center;
        border: 1px solid black;
    }
    .price{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        align-self: end;
        text-align: center;
        border: 1px solid black;
    }
    span{
        font-weight: lighter;
    }
    .tagline{
        display: grid;
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
        border: 1px solid black;
    }
}